#section-directors i{
    cursor: pointer;
    display: none;
}
#section-directors i:hover{
    color: var(--secondColor);
}

#section-directors table tr:hover{
    i{
        display: inline;
    }
}

#section-directors table thead tr th:nth-child(4){
    width: 3.125rem;
}
#section-directors table thead tr th:last-child{
    width: 3.125rem;
}